/* Login Start */
.containerLogin {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 150px;
  background-color: #F5F5F5;
}

.containerLogin .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.containerLogin .container h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #3629a7;
  margin-bottom: 20px;
}

.login {
  width: 50%;
  padding: 2rem;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #e4e4e7;
}

.login h2 {
  font-size: 1.7rem;
  color: #0175F4;
}

.login p {
  font-size: 1.1rem;
  margin-top: 10px;
  color: #4a4b4c;
  line-height: 25px;
}

.login form {
  text-align: left;
  margin: 30px 0;
}

form .form-group {
  margin: 5px 0;
  /* height: 100%; */
}


form .form-group .form-control {
  position: relative;
  width: 100%;
}


form .form-group .form-control input {
  width: 100%;
}

form .form-group .form-control select {
  width: 100%;
  height: 44px;
  border-radius: 10px;
  border: 2px solid #e4e4e7;
  font-size: 1rem;
  color: #4e4e4e;
  letter-spacing: .7px;
  font-weight: 500;
  padding: 0 20px;
}

form .form-group .form-control .icon {
  width: 10%;
  position: absolute;
  right: 3px;
  top: 15px;
  bottom: 15px;
  cursor: pointer;
  color: #4a4b4c;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.login form .form-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  font-weight: 500;
  /* background-color: red; */
}

.login form .form-info .ingatSaya input {
  width: 15px;
  height: 15px;
  /* transform: translateY(2px); */
  border: 1px solid #e4e4e7;
}

.login form .form-info .ingatSaya label {
  margin-left: 5px;
  font-size: 1rem;
  color: #3f3f3f;
  cursor: pointer;
  font-weight: 600;
}

.login form .form-info a {
  font-size: 1rem;
}

.login form button:hover {
  opacity: .9;
}

.login form button {
  width: 100%;
  margin-top: 30px;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  background-color: #0175F4;
}



.login form .syaratDaftar {
  display: flex;
  flex-direction: column;
}

.login form .syaratDaftar .syaratKetentuan,
.login form .syaratDaftar .newsLetter {
  margin: 10px 0;
}

.login form .syaratDaftar .syaratKetentuan input,
.login form .syaratDaftar .newsLetter input {
  width: 30px;
}

.login form .syaratDaftar .syaratKetentuan label,
.login form .syaratDaftar .newsLetter label {
  color: #3f3f3f;
  font-size: 1.1rem;
  margin-left: 10px;
  line-height: 25px;
  font-weight: 500;
  cursor: pointer;
}


.login .BelumPunyaAkun {
  font-size: 1rem;
  font-weight: 600;
}



.login form .form-info a,
.login form .syaratDaftar .syaratKetentuan a,
.login .BelumPunyaAkun a {
  color: #0175F4;
}







/* Login End */