/* Halaman Per Artikel start */
.contentArtikel {
  /* width: 60%; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 100px;
  /* padding: 150px 250px 200px 250px; */
}

.contentArtikel .container {
  width: 60%;
  /* display: flex;
    align-items: center;
    justify-content: center; */
}

.contentArtikel .container .titleArtikel {
  font-size: 2rem;
  font-weight: 700;
  line-height: 40px;
  color: #302f2f;
}

.contentArtikel .container .writer {
  font-size: 1rem;
  color: #302f2f;
  margin: 20px 0;
}

.contentArtikel .container .thumbnail {
  width: 100%;
  height: 350px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.contentArtikel .container h3 {
  font-size: 1.5rem;
  color: #302f2f;
}

.contentArtikel .container p {
  font-size: 1rem;
  margin: 10px 0;
  color: #302f2f;
  line-height: 30px;
}

.rekomendasiArtikel {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #eff2f6;
}

.rekomendasiArtikel .container .title {
  width: 100%;
  font-size: 2rem;
  color: #302f2f;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.rekomendasiArtikel .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Halaman Per Artikel end */
