@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --putih: #fff;
  --primary-color: #563cc9;
  --secondary-color: #450b7c;
  --yellow-collor: #fab006;
  --biru-cerah: #1352ff;
  --ungu: #496ddb;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --font: #302f2f;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  font-display: sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: auto;
  scrollbar-color: var(--putih) var(--putih);
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: var(--putih);
}

*::-webkit-scrollbar-thumb {
  background-color: #4846dd;
  border-radius: 5px;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--putih);
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
a,
h6 {
  color: var(--font);
}

button {
  border: none;
  cursor: pointer;
}

section {
  padding: 0 100px;
}

.teko {
  font-family: "Teko", "Poppins", sans-serif;
}

.w-full {
  width: 100%;
}

.pt-50 {
  padding-top: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.no-wrap {
  flex-wrap: nowrap !important;
}

.wrap {
  flex-wrap: wrap !important;
}

.yellow {
  color: var(--yellow-collor);
}

.ungu {
  color: var(--ungu);
}

.btn {
  display: inline-block;
  padding: 8px 25px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  background-color: #f2f4f7;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  border-radius: 8px;
  outline: 2px solid #63aeffbd;
}

.btn-danger {
  color: var(--putih);
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c52939;
}

.btn-danger:focus {
  outline: 2px solid #df4756;
}

.btn-primary {
  color: var(--putih) !important;
  background-color: var(--biru-cerah) !important;
  border-color: var(--biru-cerah) !important;
}

.btn-primary:hover {
  background-color: #0d46e0;
}

.btn-primary:focus {
  outline: 2px solid #0642e6e5;
}


.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  background-color: #e2ab06;
}

.btn-warning:focus {
  outline: 2px solid #ffe601f1;
}

.btn-white {
  background-color: var(--putih);
  border-color: var(--putih);
  color: #0d46e0;
}

.btn-white:focus {
  outline: 2px solid #108ee9;
}

.btn-dark {
  color: var(--putih);
  background-color: rgb(55 65 81);
  border-color: rgb(55 65 81);
}

.btn-dark:hover {
  background-color: #2f3949;
}

.btn-dark:focus {
  outline: 2px solid #717172;
}

.btn-success {
  background-color: #1ee592;
  border-color: #1ee592;
}

.btn-success:hover {
  background-color: #19cf84;
}

.btn-success:focus {
  outline: 2px solid #1fdd8ee3;
}

.btn-biru-tua {
  color: var(--putih);
  background-color: #3629a7;
  border-color: #3629a7;
}

.btn-ungu:hover {
  background-color: #4535d4;
}

.btn-ungu:focus {
  outline: 2px solid #4d3cdf;
}

.container {
  width: 100%;
  height: 100%;
}

form .form-group {
  width: 100%;
}

form label {
  font-weight: 500;
  font-size: 1.1rem;
}

form label span {
  color: #ce231c;
  font-weight: 900;
  font-size: 1.2rem;
}

form textarea {
  height: 150px;
}

form textarea,
form input {
  width: 100%;
  resize: none;
  cursor: text;
  padding: 10px 20px;
  margin: 10px 0;
  color: var(--font);
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 0.5rem;
  border: 1px solid #e4e4e7;
  background-color: var(--putih);
  letter-spacing: 0.5px;
}

form .form-group textarea:focus,
form .form-group input:focus {
  outline: 2px solid #0176f4bd;
}

form .form-group img {
  width: 20px;
  height: 20px;
}

form .form-group .form-control .icon {
  width: 10%;
  position: absolute;
  right: 3px;
  top: 15px;
  bottom: 15px;
  cursor: pointer;
  color: #4a4b4c;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

form .input-group input {
  margin: 0;
}

form .input-group {
  width: 100%;
  position: relative;
}


form .input-group button {
  width: 30%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

form button:focus {
  outline: 2px solid #63aeffbd;
}

form button {
  width: 100%;
  color: var(--putih);
  padding: 12px 0;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  background-color: var(--biru-cerah);
}

#scroll-top {
  position: fixed;
  bottom: 1.5rem;
  right: 1rem;
  z-index: 1000;
  transform: translateY(150%);
  transition: 3s;
}

#scroll-top img {
  width: 4rem;
  /* animation: float 3s linear infinite; */
}

#scroll-top.show {
  transform: translateY(0);
  transition: 5s;
}

#scroll-top.show img {
  animation: float 3s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-2rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

header {
  width: 100%;
  z-index: 1000;
  min-height: 10vh;
  max-height: 100%;
  position: fixed;
  top: 0;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #450b7c, #563cc9);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

header .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  width: 100px;
  height: 100%;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}

header nav ul li a:hover {
  opacity: 0.8;
}

.navbarMobile {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  display: none;
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 1rem 1rem 1rem 10px rgba(0, 0, 0, 0.226);
  z-index: 99999999999999;
}

.navbarMobile .perNavbarMobile {
  width: calc(100% / 4);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}


.navbarMobile .perNavbarMobile .icon img {
  width: 100%;
  height: 4.4vh;
  padding-top: 10px;
}

.navbarMobile .perNavbarMobile h3 {
  font-size: 0.8rem;
  color: #000;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: -5px;
}

.navbarMobile .perNavbarMobile:hover {
  opacity: 0.8;
}

/* footer start */
.footer {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.1);
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
}

.footer .box {
  flex: 1 1 15rem;
  margin: 1rem;
}

.footer .box h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--font);
  padding: 1rem 0;
}

.footer .box p {
  font-size: 1rem;
  color: var(--font);
  padding: 0.5rem 0;
  line-height: 25px;
  margin-bottom: 30px;
}


.footer .box p span {
  display: flex;
  color: var(--font);
  flex-direction: column;
}

.footer .box .sosmed {
  display: flex;
}

.footer .box .sosmed .perSosmed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  padding: 10px;
  font-size: 1.5rem;
  margin: 0 10px;
  border-radius: 50%;
  background: rgb(255, 160, 17);
}

.footer .box .sosmed .perSosmed:hover {
  transform: rotate(360deg);
  transition: 1s;
}

.footer .box .sosmed .perSosmed img {
  width: 100%;
  height: 100%;
}

.footer .box a {
  font-size: 1rem;
  color: #000;
  padding: 0.5rem 0;
  display: flex;
}

.footer .box a:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  height: 8vh;
  background: linear-gradient(to right, #450b7c, #563cc9);
  color: #fff;
}

footer .container {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* footer end */



.containerModal.show {
  transform: scaleY(1);
  opacity: 1;
  z-index: 9999999999;

}


.containerModal.show .modal {
  transform: scaleY(1);
}

.containerModal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  position: fixed;
  transform: scaleY(0);
  transform-origin: top;
  animation: ease 3s;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.349);
  z-index: -99;
  padding: 1rem;
}

.containerModal .modal {
  width: 60%;
  padding: 1rem;
  border: 2px solid #e4e4e7;
  background-color: #fff;
  border-radius: 10px;
  transition: .3s;
  transform: scaleY(0);
  pointer-events: auto;
  transform-origin: top;
}

.modal .modal-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4a4b4c;
  margin-bottom: 20px;
}


.modal .modal-title h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.modal .modal-title .icon {
  font-size: 1.5rem;
}


.modal .modal-title .icon:hover>* {
  color: #2B46A6;
  cursor: pointer;
}

.modal .modal-body {
  width: 100%;
  height: 300px;
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.modal .modal-footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}