@media (min-width: 2000px) {
  header nav ul li a {
    font-size: 1.5rem;
    margin: 0 20px;
  }

  .hero .hero-bg .hero-guy-1 {
    display: none;
  }

  .hero .hero-bg .hero-guy-1-lg {
    display: block;
  }

  .hero .caption {
    transform: translateY(25%);
  }

  .hero .caption h1 {
    font-size: 8rem;
  }

  .hero .caption p {
    font-size: 2rem;
  }

  .hero .caption button {
    padding: 15px 100px;
    font-size: 2rem;
  }

  header {
    min-height: 7vh;
  }

  header .container nav ul li a {
    margin: 0 0px;
  }

  section {
    padding: 0;
  }

  .containerModal .modal {
    width: 40%;
  }

  .keteranganProgram {
    top: 7vh;
  }

  .heroEvent {
    height: 40vh;
  }

  .Event .sorting {
    top: 10vh;
  }

  footer {
    height: 4vh;
  }

  .heroMediaPartner {
    height: 60vh;
  }


  .container {
    max-width: 1140px;
    /* background-color: red; */
  }

  .join .container {
    height: 30vh;
  }

  /* .join img { height: 50%; }*/

  .join {
    height: 60vh;
  }

  .heroArtikel .bg-patern .container .hero-img img:first-child {
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 100px;
    right: 400px;
  }

  .heroArtikel .bg-patern .container .hero-img img:last-child {
    width: 600px;
    height: 600px;
    position: absolute;
    bottom: 0;
    left: 400px;
  }

  header,
  section,
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contentArtikel .container .thumbnail {
    height: 500px;
  }
}

/* media kueri */
@media (max-width: 1300px) {
  .perTawaran img {
    width: 12%;
  }

  .perTawaran .caption {
    width: 88%;
  }

  /* program section */
  .program .container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .program .caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .program .caption h2 {
    font-size: 3rem;
  }

  .program .caption p {
    margin: 20px 0;
    font-size: 1.4rem;
  }

  .hero .caption {
    transform: translateY(0px);
    justify-content: center;
  }

  /* homePartner start */
  .titleHome {
    text-align: center;
    text-transform: uppercase;
  }

  .homePartner .container {
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    /* padding: 0 100px; */
  }

  .homePartner .container .keterangan {
    width: 100%;
  }

  .homePartner .container .tawaran {
    width: 100%;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 150px;
  }

  .homePartner .container .keterangan .profil .perProfil {
    justify-content: center;
    margin: 25px 0;
  }

  .homePartner .container .keterangan .captionKeterangan {
    font-size: 1.5rem;
    line-height: 35px;
    text-align: center;
  }

  .homePartner .container .tawaran {
    justify-content: space-between;
  }

  .homePartner .container .tawaran .perTawaran {
    padding: 30px 50px;
  }

  .homePartner .container .tawaran .perTawaran .caption h2 {
    font-size: 2rem;
  }

  .homePartner .container .tawaran .perTawaran .caption p {
    font-size: 1.2rem;
  }

  /* homePartner end */

  /* testimoni start */
  .testimoni .container .perTestimoni {
    height: 600px;
  }

  /* testimoni end */
}

@media (max-width: 1200px) {
  .perTawaran img {
    width: 15%;
  }

  .perTawaran .caption {
    width: 85%;
  }

  .testimoni .container .perTestimoni {
    width: calc(90% / 2);
    height: 600px;
  }

  .testimoni .container .perTestimoni:last-child {
    display: none;
  }

  .join .container h1 {
    font-size: 2rem;
    line-height: 40px;
    letter-spacing: 1px;
  }

  /* Media Partner start */

  .eventMediaPartner .container .title .caption h2 {
    font-size: 1.8rem;
    margin-bottom: 5px;
  }

  .eventMediaPartner .container .title .caption p {
    font-size: 1.3rem;
  }

  .eventMediaPartner .container .promosi .perPromosi {
    flex-direction: column;
    margin: 15px 10px;
  }

  .eventMediaPartner .container .promosi .perPromosi img {
    margin-right: 0px;
    height: 200px;
    margin-bottom: 20px;
  }

  .tahapanUpload .container {
    padding-top: 50px;
  }

  .tahapanUpload .container .tahapan {
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 50px;
  }

  .tahapanUpload .container .tahapan .perTahapan {
    width: 100%;
    padding: 40px 20px;
    margin-bottom: 40px;
  }

  .keunggulanMediaPartner .container {
    flex-wrap: wrap;
  }

  .containerKeunggulan {
    width: 100%;
    margin-bottom: 50px;
  }

  .containerKeunggulan .keunggulan .perKeunggulan .img {
    margin-bottom: 20px;
  }

  .containerAlurPendaftaran {
    width: 100%;
  }

  .containerAlurPendaftaran .alurPendaftaran .perAlurPendaftaran .urutan {
    width: 7%;
  }

  .containerAlurPendaftaran .alurPendaftaran .perAlurPendaftaran p {
    width: 93%;
  }

  /* Media Partner end */


  /* Detail Event Start*/
  .contentEvent .container .caption {
    width: 50%;
    margin-right: 10px;
  }

  .contentEvent .container .caption h1 {
    font-size: 1.7rem;
    font-weight: 650;
    line-height: 35px;
    margin-bottom: 30px;
  }

  .contentEvent .container .img {
    width: 50%;
  }

  .detailEvent .container .detailAcara .waktuPelaksanaan .date .waktu .icon img,
  .detailEvent .container .detailAcara .waktuPelaksanaan .date .tanggal .icon img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }

  .detailEvent .container .detailHarga {
    width: 40%;
  }

  .containerModal .modal {
    width: 80%;
  }

  /* Detail Event End */
}

@media (max-width: 1000px) {
  section {
    padding: 0 50px;
  }

  header {
    padding: 0 50px;
  }

  .hero .caption h1 {
    font-size: 4rem;
  }

  .hero .caption p {
    font-size: 1.3rem;
  }

  .hero .caption button {
    padding: 10px 70px;
    font-size: 1rem;
  }

  .hero .hero-bg .hero-guy-1 {
    height: 40%;
  }

  .fitur h1 {
    font-size: 2rem;
    line-height: 40px;
  }

  .fitur .imgFitur {
    flex-wrap: wrap;
    margin: 50px 0 100px 0;
  }

  .uploadEvent .container {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .uploadEvent .container img {
    width: 60%;
    height: 400px;
    margin: 50px 0;
  }

  .uploadEvent .container .caption {
    width: 100%;
  }

  .join .container {
    height: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .join .container img {
    width: 60%;
  }

  .join .container h1 {
    font-size: 2.2rem;
    line-height: 45px;
    margin: 0;
  }

  /* Halaman Media Partner Start*/
  .heroMediaPartner {
    width: 100%;
    padding: 0;
  }

  .heroMediaPartner .container {
    flex-wrap: wrap-reverse;
  }

  .heroMediaPartner .container img {
    display: none;
  }

  .heroMediaPartner .container .caption {
    width: 100%;
    text-align: center;
  }

  .eventMediaPartner .container .promosi .perPromosi {
    margin: 15px 10px;
  }

  .eventMediaPartner .container .promosi .perPromosi img {
    height: 150px;
  }

  .eventMediaPartner .container .promosi .perPromosi h2 {
    font-size: 1.5rem;
  }

  /* Halaman Media Partner End*/

  /* Event */

  .Event .container .program .masihBerlangsung .perMasihBerlangsung {
    margin: 10px 5px;
  }

  .Event .container .program .masihBerlangsung .perMasihBerlangsung .date p {
    font-size: .9rem;
  }

  .Event .container .program .masihBerlangsung .perMasihBerlangsung .btn button {
    font-size: .9rem;
  }

  /* Event */


  /* Halaman Artikel Start */
  .heroArtikel .bg-patern .container .caption h1 {
    font-size: 5rem;
  }

  .heroArtikel .bg-patern .container .hero-img img:first-child {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 150px;
    right: 50px;
  }

  .heroArtikel .bg-patern .container .hero-img img:last-child {
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 0;
    left: 50px;
  }

  .rekomendasiArtikel .container .perArtikel,
  .artikel .container .perArtikel {
    width: calc(90% / 2);
  }

  .rekomendasiArtikel .container .perArtikel img,
  .artikel .container .perArtikel img {
    height: 300px;
    margin-bottom: 10px;
  }

  /* Halaman Artikel End */

  /* Per Artikel */
  .contentArtikel .container .thumbnail {
    height: 270px;
  }

  .contentArtikel .content {
    width: 100%;
  }

  .rekomendasiArtikel .perArtikel {
    width: calc(93%/2);
  }

  .rekomendasiArtikel .perArtikel .authorRekomendasiArtikel img {
    width: 50px;
    height: 50px;
  }

  /* Per Artikel */

  /* Login */

  .containerLogin .container .login {
    width: 60%;
  }

  /* Login */
}

@media (max-width: 900px) {

  /* Media Partner Start */
  .partnerUniversitas .container {
    text-align: center;
  }

  .partnerUniversitas .container .universitas img {
    width: 90px;
    height: 90px;
    margin: 10px;
  }

  .containerAlurPendaftaran .alurPendaftaran .perAlurPendaftaran .urutan {
    width: 10%;
  }

  .containerAlurPendaftaran .alurPendaftaran .perAlurPendaftaran p {
    width: 90%;
  }

  /* Media Partner End */

  /* event */

  .Event .container .sorting {
    width: 40%;
  }

  .Event .container .program {
    width: 60%;
  }

  .Event .container .program .masihBerlangsung .perMasihBerlangsung {
    width: 100%;
    margin: 10px 0;
  }

  .Event .container .program .masihBerlangsung .perMasihBerlangsung .btn button {
    font-size: 1rem;
    padding: 12px;
  }

  /* event */

  /* Halaman Detail Event start */
  .contentEvent {
    height: 100%;
  }

  .contentEvent .container {
    flex-wrap: wrap-reverse;
  }

  .contentEvent .container .caption {
    width: 100%;
    margin: 0;
  }

  .contentEvent .container .caption h1 {
    font-size: 2rem;
    font-weight: 650;
    line-height: 45px;
    margin: 30px 0;
  }

  .contentEvent .container .caption p {
    font-size: 1.2rem;
  }

  .contentEvent .container .img {
    width: 100%;
    height: 300px;
  }

  .detailEvent .container {
    flex-wrap: wrap-reverse;
  }

  .detailEvent .container .detailAcara {
    width: 100%;
    margin-right: 0px;
  }

  .detailEvent .container .detailHarga {
    width: 100%;
    position: static;
    top: 0;
    margin-bottom: 30px;
  }

  .detailEvent .container .detailHarga button {
    padding: 15px;
  }

  /* Halaman Detail Event end */


  /* Kontak */
  .kontak .container {
    flex-wrap: wrap;
  }

  .kontak .container .caption,
  .kontak .container img {
    width: 100%;
  }

  .kontak .container img {
    height: 30rem;
    margin-bottom: 50px;
  }

  .kontak .container .caption {
    margin-left: 0;
  }

  .kontak .container .caption h1 {
    text-align: center;
  }


  .kontak .container {
    flex-wrap: wrap;
  }

  .kontak .container .caption,
  .kontak .container img {
    width: 100%;
  }

  .kontak .container img {
    height: 30rem;
    margin-bottom: 50px;
  }

  .kontak .container .caption {
    margin-left: 0;
  }

  .kontak .container .caption h1 {
    text-align: center;
  }

  /* Kontak */
}

@media (max-width: 800px) {
  footer .container {
    font-size: .9rem;
    line-height: 1.4rem;
  }

  /* program section */

  .program .caption p {
    font-size: 1.1rem;
  }

  .program .event .perEvent {
    width: 100%;
  }

  .program .event .perEvent p {
    font-size: 1rem;
  }

  /* program section end */

  .homePartner .container .tawaran .perTawaran .caption h2 {
    font-size: 1.7rem;
  }

  .homePartner .container .tawaran .perTawaran .caption p {
    font-size: 1rem;
  }

  .homePartner .container .keterangan .btnJoin button {
    font-size: 1rem;
  }

  .homePartner .container .keterangan .captionKeterangan {
    font-size: 1.4rem;
    line-height: 30px;
  }

  .testimoni .container .perTestimoni {
    height: 630px;
  }

  .testimoni .container .perTestimoni p {
    font-size: 0.9rem;
  }

  /* Media Partner start */

  .heroMediaPartner .container .caption h1 {
    font-size: 2.5rem;
    line-height: 50px;
    margin-bottom: 70px;
  }

  .containerKeunggulan {
    margin-right: 0;
  }

  .containerKeunggulan .keunggulan {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .containerKeunggulan .keunggulan .perKeunggulan {
    width: 100%;
  }

  .containerKeunggulan .keunggulan .perKeunggulan .img {
    height: 200px;
  }

  .eventMediaPartner .container .title .circle {
    font-size: 0.9rem;
  }

  .eventMediaPartner .container .promosi .perPromosi img {
    height: 100px;
  }

  .eventMediaPartner .container .promosi .perPromosi h2 {
    font-size: 1.2rem;
    line-height: 30px;
  }

  .eventMediaPartner .container .promosi .perPromosi p {
    font-size: 0.9rem;
  }

  .partnerUniversitas .container .universitas img {
    width: 90px;
    height: 90px;
    margin: 20px 10px;
  }

  /* Media Partner end */

  /* event */
  .heroEvent .container form {
    width: 100%;
  }

  .keteranganProgram span {
    font-size: .9rem;
    padding: 20px 10px;
  }

  /* event */

  /* Halaman Artikel  start */
  .rekomendasiArtikel .container .perArtikel img,
  .artikel .container .perArtikel img {
    height: 220px;
  }

  /* Halaman Artikel  end */


  /* Login */
  .containerLogin .container .login {
    width: 80%;
  }

  .containerLogin .container h1 {
    font-size: 2.5rem;
  }

  /* Login */

  /* Detail Event */

  .containerModal .modal {
    width: 100%;
  }

  /* Detail Event */

  /* Per Artikel */
  .rekomendasiArtikel .perArtikel .authorRekomendasiArtikel img {
    width: 50px;
    height: 50px;
  }

  /* Per Artikel */
}

@media (max-width: 700px) {
  header {
    min-height: 12vh;
    max-height: 100%;
  }

  header nav {
    display: none;
  }

  .navbarMobile {
    display: flex;
  }

  .footer {
    padding-bottom: 50px;
  }

  .fitur h1 {
    font-size: 1.5rem;
  }

  .fitur .imgFitur {
    margin: 25px 0;
  }

  .fitur .imgFitur img {
    height: 58px;
    margin: 15px 5px;
  }

  .program .caption img {
    /* padding: 50px; */
    width: 100%;
  }

  .program .caption h2 {
    font-size: 2.5rem;
  }

  .program .caption p {
    line-height: 30px;
  }

  .testimoni .container {
    flex-wrap: wrap;
  }

  .testimoni .container .perTestimoni {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding-bottom: 30px;
  }

  .testimoni .container .perTestimoni:last-child {
    display: inherit;
  }

  .homePartner .container .tawaran {
    margin-bottom: 200px;
  }

  .homePartner .container .tawaran .perTawaran {
    flex-wrap: wrap-reverse;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .perTawaran img {
    width: auto;
    margin-bottom: 10px;
  }

  .perTawaran .caption {
    width: 100%;
  }

  .homePartner .container .tawaran .perTawaran .caption h2 {
    font-size: 1.3rem;
    line-height: 30px;
  }

  .homePartner .container .keterangan .btnJoin {
    left: 50px;
    right: 50px;
  }

  .homePartner .container .keterangan .btnJoin button {
    font-size: 1rem;
    width: 100%;
    margin-top: 20px;
    padding: 15px 30px;
  }

  .homePartner .container .keterangan .captionKeterangan {
    font-size: 1.2rem;
    line-height: 30px;
  }

  .titleHome {
    line-height: 40px;
    margin-top: 70px;
  }

  .uploadEvent .container img {
    width: 80%;
  }

  .uploadEvent .container .caption p {
    font-size: 1.2rem;
    line-height: 30px;
  }

  /* Event */
  .heroEvent .container h1 {
    font-size: 1.9rem;
    font-weight: 700;
  }

  .heroEvent .container p {
    font-size: 1rem;
  }

  .Event .sorting {
    display: none;
  }

  .Event .container .program {
    width: 100%;
    padding: 0;
  }

  .keteranganProgram {
    display: flex;
    position: inherit;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #e4e4e7;
    margin-bottom: 20px;
    padding: 10px 0;
  }

  .keteranganProgram span {
    width: 50%;
    text-align: center;
    font-size: 1rem;
    padding: 0 20px;
    position: relative;
  }

  .sortingMobile {
    display: inherit;
  }

  .Event .program .masihBerlangsung .perMasihBerlangsung img {
    height: 350px;
  }

  .Event .program .masihBerlangsung .perMasihBerlangsung h2 {
    font-size: 1.5rem;
    line-height: 30px;
  }

  .Event .program .masihBerlangsung .perMasihBerlangsung h3 {
    font-size: 1.5rem
  }

  .Event .program .masihBerlangsung .perMasihBerlangsung p {
    font-size: 1.1rem;
  }

  /* Event */


  /* Halaman Media Partner Start */

  .eventMediaPartner .container {
    justify-content: center;
    text-align: center;
  }

  .eventMediaPartner .container .title .circle {
    display: none;
  }

  .eventMediaPartner .container .title .caption h2 {
    font-size: 2rem;
    line-height: 45px;
  }

  .eventMediaPartner .container .title .caption p {
    display: none;
  }

  .eventMediaPartner .container .promosi .perPromosi {
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }

  .eventMediaPartner .container .promosi .perPromosi img {
    width: 100%;
    height: 200px;
  }

  .eventMediaPartner .container .promosi .perPromosi h2 {
    font-size: 1.6rem;
    line-height: 40px;
  }

  .eventMediaPartner .container .promosi .perPromosi p {
    font-size: 1.1rem;
  }

  .tahapanUpload .container {
    text-align: center;
  }

  .containerAlurPendaftaran .alurPendaftaran .perAlurPendaftaran .urutan {
    width: 13%;
  }

  .containerAlurPendaftaran .alurPendaftaran .perAlurPendaftaran p {
    width: 88%;
  }

  /* Halaman Media Partner End */

  .heroArtikel .bg-patern .container .hero-img img:first-child {
    width: 200px;
    height: 200px;
    bottom: 50px;
  }

  .heroArtikel .bg-patern .container .hero-img img:last-child {
    width: 300px;
    height: 300px;
  }

  .heroArtikel .bg-patern .container .hero-bg .blog-white-mask {
    height: 100px;
  }

  .rekomendasiArtikel .container .perArtikel,
  .artikel .container .perArtikel {
    width: 80%;
    margin: 0;
    margin-top: 30px;
  }

  .rekomendasiArtikel .container .perArtikel img,
  .artikel .container .perArtikel img {
    height: 300px;
  }

  /* Halaman Artikel End */

  /* Per Artikel */
  .contentArtikel .container .thumbnail {
    height: 250px;
  }

  .containerAuthor {
    display: flex;
    flex-wrap: wrap;
  }

  .contentArtikel .author img {
    width: 70px;
    height: 60px;
  }

  .rekomendasiArtikel .perArtikel .authorRekomendasiArtikel img {
    width: 50px;
    height: 50px;
  }

  .contentArtikel .author .authorDetail {
    align-items: self-start;
  }

  .contentArtikel .deskripsi-mobile {
    display: inherit;
  }


  .containerArtikelLainnya .artikelLainnya {
    flex-wrap: wrap;
  }

  .containerArtikelLainnya .artikelLainnya .perArtikelLainnya {
    width: calc(100%/2);
  }

  .containerArtikelLainnya .artikelLainnya .perArtikelLainnya img {
    height: 120px;
  }

  .rekomendasiArtikel .perArtikel {
    width: 100%;
    margin: 20px 0;
  }

  .contentArtikel .author .authorDetail p {
    display: none;
  }



  /* Per Artikel */


  /* Login */
  .containerLogin .container .login {
    width: 100%;
  }

  .containerLogin .container h1 {
    font-size: 2rem;
  }

  /* Login */

}

@media (max-width: 600px) {
  #scroll-top img {
    width: 3.2rem;
  }

  #scroll-top.show {
    transform: translateY(-50px);
  }

  @keyframes float {
    50% {
      transform: translateY(-1.5rem);
    }
  }

  section {
    padding: 0 25px;
  }

  .homePartner .container .keterangan .btnJoin {
    left: 25px;
    right: 25px;
  }

  .uploadEvent .container {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  header {
    padding: 0 25px;
  }

  .hero .caption h1 {
    font-size: 3rem;
  }

  .hero .hero-bg .hero-guy-1 {
    height: 50%;
  }

  .fitur h1 {
    font-size: 1.3rem;
    line-height: 30px;
  }

  /* Halaman Media Partner start*/
  .heroMediaPartner {
    width: 100%;
  }

  .heroMediaPartner .container .cta button {
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
  }

  .containerKeunggulan {
    text-align: center;
  }

  .containerKeunggulan h2 {
    font-size: 1.2rem;
    padding: 20px 5px;
  }

  .containerAlurPendaftaran .alurPendaftaran .perAlurPendaftaran .urutan {
    width: 15%;
  }

  .containerAlurPendaftaran .alurPendaftaran .perAlurPendaftaran p {
    width: 85%;
  }

  .tahapanUpload {
    margin-top: -100px;
  }

  .tahapanUpload .container h1 {
    font-size: 2rem;
  }

  .tahapanUpload .container .tahapan .perTahapan {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tahapanUpload .container .tahapan .perTahapan span {
    width: 100px;
    height: 100px;
    margin: 0;
    margin-bottom: 20px;
    font-size: 2rem;
  }

  .tahapanUpload .container .tahapan .perTahapan h3 {
    line-height: 35px;
  }

  /* Halaman Media Partner end*/

  /* Halaman Artikel start*/
  .heroArtikel .bg-patern .container .hero-img img:first-child {
    right: 50px;
    bottom: 0;
    top: 50px;
    width: 150px;
    height: 150px;
  }

  .heroArtikel .bg-patern .container .hero-img img:last-child {
    left: 50px;
    height: 250px;
    width: 250px;
  }

  .heroArtikel .bg-patern .container .caption {
    transform: translateY(0);
  }

  .heroArtikel .bg-patern .container .caption h1 {
    font-size: 4rem;
  }

  .rekomendasiArtikel .container .perArtikel,
  .artikel .container .perArtikel {
    width: 90%;
  }

  /* Halaman Artikel end*/

  /* Halaman Detail Event Start */

  .contentEvent .container .caption h1 {
    font-size: 1.7rem;
    line-height: 37px;
    margin: 20px 0;
  }

  .contentEvent .container .caption p {
    font-size: 1.1rem;
  }

  .contentEvent .container .img {
    height: 250px;
  }

  /* Halaman Detail Event End */

  /* Kontak */
  .kontak .container img {
    height: 30rem;
    margin-bottom: 0;
  }

  /* Kontak */
}

@media (max-width: 500px) {
  .titleHome {
    font-size: 1.7rem;
  }

  .program .event .perEvent {
    height: 350px;
  }

  .homePartner .container .keterangan .profil .perProfil {
    width: 100%;
    justify-content: start;
  }

  .homePartner .container .keterangan .captionKeterangan {
    font-size: 1.1rem;
    line-height: 25px;
  }

  .homePartner .container .tawaran .perTawaran .caption h2 {
    line-height: 25px;
  }

  .homePartner .container .tawaran .perTawaran .caption p {
    font-size: 1rem;
  }

  .uploadEvent .container img {
    width: 100%;
    height: 350px;
  }

  .uploadEvent .container .caption p {
    font-size: 1.2rem;
    line-height: 25px;
  }

  .join .container img {
    width: 80%;
    height: 100%;
  }

  .join .container h1 {
    font-size: 1.8rem;
    margin-top: 20px;
    line-height: 40px;
  }

  /* Event */
  .Event .program .masihBerlangsung .perMasihBerlangsung img {
    height: 200px;
  }

  /* Event */


  /* Halaman Media Partner start */
  .heroMediaPartner .container .caption h1 {
    font-size: 1.7rem;
    line-height: 40px;
    margin-bottom: 50px;
  }

  .tahapanUpload .container h1 {
    font-size: 1.7rem;
  }

  .tahapanUpload .container .tahapan .perTahapan h3 {
    font-size: 1.3rem;
    line-height: 30px;
  }

  .tahapanUpload .container .tahapan .perTahapan p {
    font-size: 1rem;
  }

  /* Halaman Media Partner end */

  /* Halaman Artikel start */
  .heroArtikel .bg-patern .container .caption h1 {
    font-size: 3rem;
  }

  .rekomendasiArtikel .container .perArtikel,
  .artikel .container .perArtikel {
    width: 100%;
  }

  .rekomendasiArtikel .container .perArtikel img,
  .artikel .container .perArtikel img {
    height: 250px;
  }

  .heroArtikel .bg-patern .hero-img img:first-child {
    display: none;
  }

  .heroArtikel .bg-patern .hero-img img:last-child {
    display: none;
  }

  /* Halaman Artikel end */


  /* Detail Event Start */

  .detailEvent .container .detailAcara .waktuPelaksanaan .date {
    flex-wrap: wrap;
  }

  .detailEvent .container .detailAcara .waktuPelaksanaan .date .tanggal,
  .detailEvent .container .detailAcara .waktuPelaksanaan .date .waktu {
    width: 100%;
  }

  .detailEvent .container .detailAcara .waktuPelaksanaan .date .tanggal p,
  .detailEvent .container .detailAcara .waktuPelaksanaan .date .waktu p {
    font-size: 1rem;
  }

  .detailEvent .container .detailAcara .waktuPelaksanaan .date .tanggal .icon img {
    margin-top: -15px;
  }

  .detailEvent .container .detailAcara .waktuPelaksanaan .date .tanggal .icon img,
  .detailEvent .container .detailAcara .waktuPelaksanaan .date .waktu .icon img {
    width: 17px;
    height: 17px;
    margin-right: 15px;
  }

  .detailEvent .container .detailAcara .waktuPelaksanaan .date .tanggal p {
    margin-bottom: 15px;
  }

  .detailEvent .container .tentangPembicara .orang .profilOrang img {
    width: 70px;
    height: 60px;
  }

  form .form-group .form-control .icon {
    width: 20%;
  }

  /* Detail Event End */

  /* Per Artikel */
  .rekomendasiArtikel .perArtikel .authorRekomendasiArtikel img {
    width: 50px;
    height: 50px;
  }

  /* Per Artikel */

  /* Kontak */
  .kontak .container img {
    height: 20rem;
    margin-bottom: 10px;
  }

  /* Kontak */
}

@media (max-width: 450px) {
  .footer .box p {
    font-size: 0.9rem;
  }

  /* event */
  .heroEvent .container h1 {
    font-size: 1.5rem;
  }

  .heroEvent .container p {
    font-size: .9rem;
  }

  .sortingMobile .filter .containerFilter .boxFilter .button {
    flex-wrap: wrap-reverse;
  }

  .sortingMobile .filter .containerFilter .boxFilter .button button {
    margin: 0;
    width: 100%;
    padding: 8px 10px;
  }

  .sortingMobile .filter .containerFilter .boxFilter .button button:first-child {
    margin-top: 10px;
  }

  /* event */


  /* Halaman Media Partner Start */
  .eventMediaPartner .container .title .caption h2 {
    font-size: 1.7rem;
    line-height: 35px;
  }

  .eventMediaPartner .container .promosi .perPromosi img {
    height: 150px;
  }

  .eventMediaPartner .container .promosi .perPromosi h2 {
    font-size: 1.3rem;
    line-height: 30px;
  }

  .eventMediaPartner .container .promosi .perPromosi p {
    font-size: 0.9rem;
  }

  .containerAlurPendaftaran .alurPendaftaran .perAlurPendaftaran .urutan {
    width: 20%;
  }

  .containerAlurPendaftaran .alurPendaftaran .perAlurPendaftaran p {
    font-size: 0.9rem;
    width: 80%;
  }

  .homePartner .container .tawaran {
    margin-bottom: 170px;
  }

  /* Halaman Media Partner End */

  /* Login */

  .containerLogin .container h1 {
    font-size: 1.5rem;
  }

  .containerLogin .container .login h2 {
    font-size: 1.3rem;
  }

  .containerLogin .container .login p {
    font-size: 1rem;
    line-height: 22px;
  }

  /* Login */

  /* Halaman Detail Event Start */

  .contentEvent .container .caption h2 {
    font-size: 1.6rem;
  }

  .contentEvent .container .caption h1 {
    font-size: 1.4rem;
    line-height: 30px;
  }

  .contentEvent .container .caption p {
    font-size: 1rem;
  }

  .contentEvent .container .img {
    height: 200px;
  }

  .detailEvent .container .detailHarga button {
    padding: 10px;
  }

  /* Halaman Detail Event End */


  /* Per Artikel */

  .contentArtikel .container .titleArtikel {
    font-size: 1.5rem;
    line-height: 30px;
  }

  .contentArtikel .container .writer {
    font-size: .8rem;
    line-height: 20px;
  }

  .contentArtikel .container h3 {
    font-size: 1.3rem;
  }

  /* Per Artikel */

}

@media (max-width: 400px) {
  .titleHome {
    margin-top: 50px;
  }

  section {
    padding: 0 15px;
  }

  .hero .caption p {
    font-size: 1rem;
  }

  .hero .hero-bg .hero-guy-1 {
    height: 30%;
  }

  .fitur .imgFitur img {
    height: 60px;
    width: 60px;
    margin: 10px 5px;
  }

  .program .caption h2 {
    font-size: 1.8rem;
  }

  .program .caption p {
    font-size: 1.1rem;
    line-height: 30px;
  }

  .program .event .perEvent {
    height: 325px;
  }

  .program .event .perEvent a {
    font-size: 0.8rem;
  }

  .navbarMobile .perNavbarMobile .icon {
    font-size: 1.2rem;
  }

  .testimoni .container .perTestimoni img {
    width: 120px;
    height: 120px;
  }

  .homePartner .container .keterangan .btnJoin button {
    font-size: 0.8rem;
  }

  .homePartner .container .tawaran .perTawaran {
    padding: 20px;
  }

  .homePartner .container .tawaran .perTawaran .caption p {
    font-size: 0.9rem;
  }

  .titleHome {
    font-size: 1.4rem;
    line-height: 30px;
  }

  .uploadEvent .container img {
    width: 100%;
    height: 100%;
  }

  .uploadEvent .container .caption p {
    font-size: 1.1rem;
  }

  .footer .box h2 {
    font-size: 1.7rem;
  }

  .footer .box .sosmed .perSosmed {
    width: 35px;
    height: 35px;
    padding: 5px;
    font-size: 1.2rem;
    margin: 10px;
    border-radius: 50%;
    background: rgb(255, 160, 17);
  }


  /* Per Artikel */
  .content .kategori .perKategori {
    margin: 2px;
    padding: 3px 7px;
    font-size: 0.7rem;
  }

  .rekomendasiArtikel .perArtikel .authorRekomendasiArtikel img {
    width: 50px;
    height: 50px;
  }

  .contentArtikel .deskripsi-mobile {
    font-size: .9rem;
    line-height: 1.5rem;
  }

  .content .identitas {
    flex-wrap: wrap;
  }

  .content .identitas .perIdentitas {
    width: 100%;
    margin: 0;
  }

  .rekomendasiArtikel .perArtikel .thumbnail {
    height: 150px !important;
  }

  .rekomendasiArtikel .perArtikel .caption {
    padding: 0.5rem 0.8rem;
  }

  /* Per Artikel */

  /* Event */

  .sortingMobile .urutkan h2 {
    margin-right: 50px;
  }

  .keteranganProgram span {
    font-size: .9rem;
  }

  .Event .program .masihBerlangsung .perMasihBerlangsung .date .icon,
  .Event .program .masihBerlangsung .perMasihBerlangsung .date p {
    font-size: .9rem;
  }

  .Event .program .masihBerlangsung .perMasihBerlangsung h2 {
    font-size: 1.2rem;
    line-height: 25px;
  }

  /* Event */


  /* Halaman Media Partner Start  */
  .heroMediaPartner .container .cta button {
    width: 90%;
    margin-bottom: 20px;
  }

  .tahapanUpload .container {
    text-align: center;
  }

  .tahapanUpload .container .tahapan .perTahapan span {
    width: 60px;
    height: 60px;
    font-size: 1.4rem;
  }

  .tahapanUpload .container .tahapan .perTahapan h3 {
    font-size: 1.2rem;
    line-height: 25px;
  }

  .tahapanUpload .container .tahapan .perTahapan p {
    font-size: 0.9rem;
  }

  .partnerUniversitas .container h1 {
    font-size: 1.9rem;
  }

  .tahapanUpload .container button {
    font-size: 1rem;
    width: 100%;
    padding: 15px 20px;
  }

  .containerAlurPendaftaran .alurPendaftaran .perAlurPendaftaran {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .containerAlurPendaftaran h2 {
    padding: 15px 0;
    text-align: center;
  }

  .containerAlurPendaftaran .alurPendaftaran .perAlurPendaftaran .urutan {
    width: 50px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .containerAlurPendaftaran .alurPendaftaran .perAlurPendaftaran p {
    width: 100%;
  }

  /* Halaman Media Partner End  */

  /* Detail Event */

  .containerModal .modal .modal-footer {
    flex-wrap: wrap;
  }

  .containerModal .modal .modal-footer button {
    width: 100%;
    padding: 10px;
  }

  .containerModal .modal .modal-footer h2 {
    font-size: 1.1rem;
    margin: 20px 0;
  }

  .containerModal .modal .modal-body form .form-group label {
    font-size: 0.9rem;
  }

  /* Detail Event */

  /* Kontak */
  .kontak .container img {
    height: 15rem;
  }

  .kontak .container .caption h1 {
    font-size: 1.9rem;
  }

  .kontak .container .caption textarea,
  .kontak .container .caption input {
    font-size: .9rem;
  }

  /* Kontak */
}

@media (max-width: 350px) {
  .navbarMobile .perNavbarMobile h3 {
    font-size: 0.7rem;
  }

  #scroll-top {
    right: 0;
  }

  #scroll-top.show {
    transform: translateY(-30px);
  }

  #scroll-top img {
    width: 2.7rem;
  }

  .program .caption p {
    font-size: 1rem;
    line-height: 20px;
  }

  .program .event .perEvent {
    height: 325px;
  }

  .program .event .perEvent h3 {
    font-size: 1.2rem;
    line-height: 25px;
  }

  .program .event .perEvent p {
    font-size: 0.9rem;
  }

  .program .event .perEvent a {
    font-size: 0.8rem;
  }

  .navbarMobile .perNavbarMobile .icon {
    font-size: 1.1rem;
  }

  .fitur h1 {
    font-size: 1.2rem;
    line-height: 30px;
  }

  .join .container h1 {
    font-size: 1.5rem;
    line-height: 35px;
  }

  /* Event */

  .heroEvent .container form button {
    width: 30%;
  }

  .sortingMobile .filter .containerFilter .boxFilter .containerTitle .title .icon {
    font-size: 1.2rem;
  }

  .sortingMobile .filter .containerFilter .boxFilter .containerTitle .title h4 {
    font-size: 1.2rem;
  }

  .sortingMobile .filter .containerFilter .boxFilter .containerTitle .close {
    font-size: 1.5rem;
    padding: 0;
    margin-top: -5px;
  }

  .Event .program .masihBerlangsung .perMasihBerlangsung p {
    font-size: .9rem;
  }

  /* Event */

  /* Halaman Media Partner Start */
  .heroMediaPartner .caption h1 {
    font-size: 1.3rem;
    line-height: 30px;
  }

  .eventMediaPartner .container .promosi .perPromosi img {
    height: 120px;
  }

  .eventMediaPartner .container button {
    font-size: 1rem;
    padding: 15px 20px;
  }

  .containerKeunggulan .keunggulan .perKeunggulan .img {
    height: 150px;
  }

  /* Halaman Media Partner End */

  /* Halaman Artikel start */
  .heroArtikel .bg-patern .container .caption h1 {
    font-size: 2.5rem;
  }

  .rekomendasiArtikel .container .perArtikel h2,
  .artikel .container .perArtikel h2 {
    font-size: 1.2rem;
  }

  .rekomendasiArtikel .container .perArtikel p,
  .artikel .container .perArtikel p {
    font-size: 0.9rem;
  }

  .rekomendasiArtikel .container .perArtikel .btn button,
  .artikel .container .perArtikel .btn button {
    font-size: 0.8rem;
    padding: 8px 0;
  }

  /* Halaman Artikel end */

  /* Login */
  .containerLogin .container .login form .form-info label,
  .containerLogin .container .login form .form-info a {
    font-size: 0.9rem;
  }

  /* Login */

  /* Halaman Detail Event Start */

  .contentEvent .container .caption h2 {
    font-size: 1.2rem;
  }

  .contentEvent .container .caption h1 {
    font-size: 1.2rem;
    line-height: 25px;
  }

  .contentEvent .container .caption p {
    font-size: 0.9rem;
  }

  .contentEvent .container .img {
    height: 170px;
  }

  .detailEvent .container .detailAcara .deskripsi p,
  .detailEvent .container .detailAcara .deskripsi ol {
    font-size: 1rem;
    margin: 10px 0;
  }

  .detailEvent .container .detailAcara .deskripsi ol {
    padding: 0 10px;
  }

  .detailEvent .container .detailAcara .deskripsi ol li {
    padding: 5px;
  }

  .detailEvent .container .tentangPembicara .orang .profilOrang {
    flex-wrap: wrap;
  }

  .detailEvent .container .tentangPembicara .orang .profilOrang img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .containerModal .modal {
    width: 100%;
    padding: .8rem;
  }

  .containerModal .modal .modal-body {
    padding: 0 10px;
  }

  form .form-group img {
    width: 15px;
    height: 15px;
  }


  /* Halaman Detail Event End */


  /* Per Artikel */
  .containerArtikelLainnya .artikelLainnya .perArtikelLainnya {
    width: 100%;
    padding: 0;
    margin: 10px 0;
  }

  .containerArtikelLainnya .artikelLainnya .perArtikelLainnya img {
    height: 140px;
  }

  .containerArtikelLainnya .artikelLainnya .perArtikelLainnya p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .share {
    justify-content: start;
    align-items: self-start;
    flex-wrap: wrap;
    padding: 10px 0;
  }

  .share h4 {
    width: 100%;
  }

  .share .sosialMedia {
    width: 100%;
    margin-top: 15px;
    align-items: flex-start;
    justify-content: start;
    margin-left: 0;
  }

  .share .sosialMedia .perSosialMedia {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }

  /* Per Artikel */
}

@media (max-width: 300px) {
  footer .container {
    font-size: .7rem;
    line-height: 1rem;
  }

  .fitur h1 {
    font-size: 1rem;
    line-height: 22px;
  }

  .fitur .imgFitur img {
    width: 50px;
    height: 50px;
  }

  .program .caption p {
    font-size: 0.9rem;
  }

  .program .event .perEvent {
    height: 370px;
  }

  .program .event .perEvent a {
    font-size: 0.7rem;
  }

  .navbarMobile .perNavbarMobile .icon {
    font-size: 1rem;
  }

  .captionKeterangan {
    font-size: 1rem;
  }

  .btnJoin button {
    padding: 15px;
  }

  .perTawaran img {
    width: 70px;
    height: 70px;
  }

  .footer .box p {
    font-size: 0.8rem;
    line-height: 20px;
  }

  .footer .box .sosmed {
    flex-wrap: wrap;
  }

  .footer .box .sosmed .perSosmed {
    margin: 10px 5px;
  }

  /* Event */
  .keteranganProgram span {
    font-size: .8rem;
  }

  .sortingMobile .filter,
  .sortingMobile .urutkan {
    width: 100%;
  }

  .sortingMobile .filter .tombol {
    flex-direction: row-reverse;
  }

  .sortingMobile .urutkan {
    margin-top: 20px;
  }


  .sortingMobile {
    flex-wrap: wrap;
  }

  .sortingMobile .urutkan h2 {
    margin-right: 10px;
  }

  .sortingMobile .filter .containerFilter .boxFilter .containerTitle .title .icon,
  .sortingMobile .filter .containerFilter .boxFilter .containerTitle .title h4 {
    font-size: 1rem;
  }

  .sortingMobile .filter .containerFilter .boxFilter .containerTitle .close {
    font-size: 1.5rem;
    padding: 0;
    margin-top: -5px;
  }

  .Event .program .masihBerlangsung .perMasihBerlangsung h2 {
    font-size: 1rem;
    line-height: 20px;
  }

  .Event .program .masihBerlangsung .perMasihBerlangsung img {
    height: 170px;
  }

  .Event .program .masihBerlangsung .perMasihBerlangsung h3 {
    font-size: 1.2rem;
  }

  /* Event */


  /* Media Partner Start */
  .eventMediaPartner .container button {
    font-size: 0.9rem;
  }

  .tahapanUpload .container {
    text-align: center;
  }

  .tahapanUpload .container h1 {
    font-size: 1.3rem;
  }

  .tahapanUpload .container .tahapan .perTahapan h2 {
    font-size: 0.9rem;
    line-height: 20px;
  }

  .tahapanUpload .container .tahapan .perTahapan p {
    font-size: 0.8rem;
  }

  .tahapanUpload .container button {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .containerAlurPendaftaran h2 {
    font-size: 1rem;
    padding: 10px 0;
  }

  /* Media Partner End */

  /* Halaman Artikel start */
  .heroArtikel .bg-patern .container .caption h1 {
    font-size: 2rem;
  }

  .rekomendasiArtikel .container .perArtikel p,
  .artikel .container .perArtikel p {
    font-size: 0.8rem;
  }

  .rekomendasiArtikel .container .perArtikel img,
  .artikel .container .perArtikel img {
    height: 150px;
  }

  /* Halaman Artikel end */


  /* Halaman Detail Event Start */

  .detailEvent .container .detailAcara .deskripsi p,
  .detailEvent .container .detailAcara .deskripsi ol {
    font-size: 0.9rem;
  }

  .detailEvent .container .tentangPembicara .orang {
    padding: 0;
    border: none;
  }

  .detailEvent .container .tentangPembicara .orang p {
    font-size: 0.9rem;
  }

  .detailEvent .container .tentangPembicara .orang .profilOrang img {
    width: 100%;
    border-radius: 10px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  /* Halaman Detail Event End */

  /* Per Artikel */

  .contentArtikel .container .thumbnail {
    height: 170px;
  }

  /* Per Artikel */

  /* Kontak */
  .kontak .container img {
    height: 10rem;
  }

  .kontak .container .caption h1 {
    font-size: 1.6rem;
  }

  .kontak .container .caption label {
    font-size: .95rem;
  }

  .kontak .container .caption textarea,
  .kontak .container .caption input {
    padding-left: 10px;
    font-size: .8rem;
  }

  .kontak .container .caption button {
    width: 100%;
  }

  /* Kontak */
}